.DS_Store
frontend/node_modules/
frontend/.next/
backend/node_modules/
.env
dist/
build/
.vscode/
.idea/
*.log
*.tmp
coverage/
npm-debug.log*
yarn-error.log*
.env.local
.env.development.local
.env.test.local
.env.production.local
*.swp
*.swo
*.bak
*.old